/** @format */

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-top: 4rem;

	margin-inline: auto;
	max-width: 90ch;
	padding-inline: 2rem;

	h1 {
		margin-bottom: 1rem;
		text-align: center;
	}
	.pdf-container {
		width: clamp(60vw, 75%, 100%);
		max-width: 100%;
		height: 100vh;
		border: none;
	}
	.category-button {
		border: 2px solid var(--accent-dark);
		background-color: white;
		color: black;
		padding: 0.3rem 1rem;
		font-size: 1rem;
		font-family: var(--font-sans);
		border-radius: 5px;
		transition: 0.25s;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		text-decoration: none;
	}
	.category-button:hover {
		background-color: var(--accent-dark);
		color: white;
		text-decoration: none;
		opacity: unset;
	}

	@media screen and (max-width: 1000px) {
		.category-label {
			position: static !important;
			text-align: center;
			margin-bottom: 0.6rem;
		}
	}
}
