/** @format */

:root {
	--text-light: #eee;
}

* {
	transition: all 0.2s;
}

nav {
	--masthead-height: 6rem;
	$mobile: 970px;
	$smaller: 600px;

	position: sticky;
	top: calc(-1 * (var(--masthead-height) + 1rem + 1px));

	button {
		height: 2rem;
		border: solid 1px white;
		background: none;
		border-radius: 0.25rem;
		color: white;
		gap: 1ch;
		align-items: center;
		i {
			display: inline;
		}
		span {
			font-family: var(--font-sans);
			color: white;
			font-size: 1rem;
		}
		&:hover {
			cursor: pointer;
			background: #fff4;
		}
	}

	div.nav-inner {
		z-index: 10;
		position: relative;
		background: var(--accent-dark);
	}

	#links {
		display: flex;
		justify-content: center;
		gap: 0.5rem;
		font-family: var(--font-sans);
		@media screen and (max-width: $mobile) {
			display: none;
		}
	}

	.section-link {
		position: relative;
		a {
			display: block;
		}
		// Top-level categories
		> a {
			padding: 1rem 0.5rem;
			display: block;
			position: relative;
			color: var(--text-light);
		}
		// The underline on top-level categories
		> a::before {
			content: "";
			display: block;
			position: absolute;
			bottom: calc(1rem - 2px);
			right: calc(0.5rem);
			width: 0;
			height: 2px;
			background: var(--text-light);
			transition: width 0.5s;
		}

		> a:has(i)::before {
			right: calc(0.5rem + 2ch);
		}

		> a > i {
			margin-left: 0.5ch;
			font-size: 0.75rem;
			line-height: 1.5rem;
			width: 1rem;
			text-align: center;

			transform: rotate(0deg);

			transition: transform 0.5s;
		}

		&:hover {
			@keyframes fade-in {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			.dropdown {
				animation: 0.5s ease 1 normal both fade-in;
				display: block;
			}
			> a::before {
				left: 0.5rem;
				width: calc(100% - 1rem);
			}
			> a:has(i)::before {
				width: calc(100% - 1rem - 2ch);
			}
			> a > i {
				transform: rotate(-180deg);
			}
		}

		@media screen and (max-width: 1064px) {
			> a > i {
				display: none;
			}
			&:hover > a:has(i)::before {
				width: calc(100% - 1rem);
				right: calc(0.5rem);
			}
		}
	}

	.dropdown {
		position: absolute;
		padding-inline: 1rem;
		background: #fff;

		display: none;
		opacity: 0;

		min-width: calc(max(20ch, 100%));
		box-sizing: border-box;
		text-align: center;
		box-shadow: 0 0 2rem #0008;
		a {
			padding: 0.5rem 0;
			&:hover {
				color: #888;
			}

			&:not(:last-child) {
				border-bottom: 1px solid #888;
			}
		}
	}

	.header {
		display: flex;
		position: relative;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-block: 0.5rem;
		border-bottom: solid white 1px;
		box-sizing: border-box;
		#masthead {
			position: relative;
			z-index: 10;
			padding: 0;
			height: var(--masthead-height);
		}
		#masthead img {
			height: var(--masthead-height);
		}
	}
	.masthead-sides {
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		left: 1rem;
		right: 1rem;
		a,
		p {
			color: white;
			font-size: 1rem;
			font-family: var(--font-sans);
		}
	}

	.left-stuff {
		display: flex;
		align-items: center;
	}
	.right-stuff,
	#paper-info {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	.right-stuff {
		align-items: end;
	}

	#menu {
		display: none;
	}

	@media screen and (max-width: $mobile) {
		--masthead-height: 4rem;
		top: 0;
		#paper-info {
			display: none;
		}
		#menu {
			display: flex;
		}
		.right-stuff .subscribe {
			display: none;
		}
	}

	@media screen and (max-width: $smaller) {
		--masthead-height: 2rem;
		#masthead img {
			display: none;
		}
	}

	.search-box {
		display: flex;
		align-items: center;
		border: 1px solid white;
		border-radius: 0.25rem;
		&:has(:focus) {
			border: 2px solid rgb(94, 150, 229);
		}
		input {
			background: none;
			border: none;
			color: #eee;
			font-size: 1rem;
			height: 2rem;
			padding: 0.5rem;
			box-sizing: border-box;
			&:focus-visible {
				outline: none;
			}

			width: calc(min(15vw, 19ch));

			@media screen and (max-width: 680px) {
				display: none;
			}
		}
		button {
			width: 2rem;
			height: 2rem;
			border: none;
		}
	}
	#masthead {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: calc(var(--masthead-height) / 8);
		h1 {
			color: white;
			font-weight: normal;
			font-family: Canterbury;
			font-size: var(--masthead-height);

			@media screen and (max-width: 360px) {
				display: none;
			}
			user-select: none;
		}
	}

	.search-box {
		display: block;
	}
}
