/** @format */

.banner {
	background: var(--accent-dark);
	color: white;
	box-sizing: border-box;
	padding: 1rem;
	margin-block: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	img {
		width: calc(min(20rem, 100%));
		height: auto;
	}

	i {
		color: var(--accent-light);
	}

	a {
		color: var(--accent-light);
		text-decoration: underline;
	}
}
