/** @format */

@import "/styles/globals.scss";

#formWrapper {
	max-width: 50vw;
	margin: 0 auto;

	p,
	strong,
	select,
	textarea,
	a,
	input,
	label {
		font-size: 1.2rem;
	}

	input {
		border-radius: 0;
		border: 1px solid var(--accent-dark);
	}

	input[type="file"] {
		// background: red;
		padding: 0;
		margin: 0;
		height: 2rem;
		border: none;
	}

	::file-selector-button {
		height: 2rem;
	}

	strong {
		font-family: $font-header;
	}
}

#selectHolder {
	display: flex;
}

#contentInput {
	width: 50vw;
	height: 10vh;
}

#preview {
	:first-child:not(h1, h2, h3, blockquote p)::first-letter {
		initial-letter: 3;
		margin-right: 10px;
	}

	blockquote {
		border-left: 3px solid lightgray;
		padding-left: 5px;
	}

	blockquote p {
		font-size: 1.6rem !important;
		font-family: "Neue Montreal Regular" !important;
		font-weight: normal !important;
	}

	pre {
		background-color: lightgray;
	}

	code {
		font-family: monospace;
		font-size: 1rem;
	}

	p {
		font-family: $font-text;
		font-size: 1.25rem;
		margin-top: 3vh;
		margin-bottom: 3vh;
	}

	strong {
		font-family: $font-header;
		font-size: 1.25rem;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.error-message {
	color: red;
	animation: shake 0.5s;
}
@keyframes shake {
	0% {
		transform: translate(0px);
	}
	25% {
		transform: translate(-5px);
	}
	50% {
		transform: translate(5px);
	}
	75% {
		transform: translate(-5px);
	}
	100% {
		transform: translate(0px);
	}
}
.upload-status.normal {
	color: #8b8b8b;
}
.upload-status.success {
	color: green;
}
.upload-status.error {
	color: red;
}

.spinner {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 2px solid rgb(94, 150, 229);
	border-top: 2px solid transparent;
	border-radius: 50%;
	margin-left: 8px;
	animation: spin 1s linear infinite;
}
